@import url("https://fonts.googleapis.com/css?family=Poppins:200,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.reviews-body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  line-height: 19px; }

.reviews-accordion {
  padding: 10px;
  border: 1px solid #dedddf;
  border-radius: 2px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%; }
  .reviews-accordion .accordion-header {
    font-size: 16px;
    line-height: 18px;
    color: #4a4a4a;
    padding: 8px; }
  .reviews-accordion .reviews-container {
    padding: 16px; }
    .reviews-accordion .reviews-container .review-body {
      border-top: 1px solid #f8f8f8;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 55px;
      padding-left: 55px; }
      .reviews-accordion .reviews-container .review-body .review-headline {
        color: #082a4c;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%; }
      .reviews-accordion .reviews-container .review-body .review-comments {
        color: #4a4a4a;
        font-size: 14px; }
      .reviews-accordion .reviews-container .review-body .review-tags {
        color: #77899e;
        font-size: 12px; }
      .reviews-accordion .reviews-container .review-body .review-user {
        color: #8a8a8a;
        font-size: 12px;
        line-height: 200%; }
      .reviews-accordion .reviews-container .review-body .review-date {
        color: #8a8a8a;
        font-size: 12px;
        margin-right: 10px; }
    .reviews-accordion .reviews-container .ratings-overview {
      max-width: 100%;
      width: 370px; }
      .reviews-accordion .reviews-container .ratings-overview .ratings-heading {
        display: inline-block;
        font-size: 25px;
        line-height: 24px;
        width: 60%; }

.thumbs-button {
  align-items: center;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  color: #a3a3a3;
  height: 30px;
  width: 40px;
  cursor: pointer;
  font-size: 9px; }
  .thumbs-button .btn:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    left: 10px;
    content: "\f005"; }

.thumb {
  font-size: 16px; }

.progress {
  margin-bottom: 10px;
  background-color: #f1f9ff !important;
  width: 25%; }

.progress-bar-blue {
  height: 25px;
  background-color: #9ec9eb !important; }

.star {
  color: #9ec9eb; }

.star-rating-text {
  font-size: 9px;
  color: #3f5978; }

.average-rating {
  background-color: #f1f9ff;
  justify-content: center;
  font-size: 17px;
  font-weight: 400;
  color: #082a4c;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 5px; }
